<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/test3_wdhl/src/test3_wdhl/fFiles.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="test3_wdhl.fFiles"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="test3_wdhl"/>
</launchConfiguration>
